<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="Unit">
            <directory>test/unit</directory>
        </testsuite>
        <testsuite name="Suite">
            <directory>test/suite</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">lib</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="build/coverage" />
        </report>
    </coverage>
</phpunit>