# See: https://circleci.com/docs/reference/configuration-reference/
version: 2.1

jobs:
  test:
    parameters:
      php:
        type: string
    docker:
      - image: cimg/php:<< parameters.php >>
    steps:
      - checkout
      - run: composer install -n
      - run:
          command: |
            mkdir -p ~/results
            vendor/bin/phpunit --log-junit ~/results/junit.xml
      - store_test_results:
          path: ~/results

  coding-style:
    docker:
      - image: cimg/php:8.5
    steps:
      - checkout
      - run: composer install -n
      - run: vendor/bin/php-cs-fixer check -n --show-progress=none

  coveralls:
    docker:
      - image: cimg/php:8.4
    steps:
      - run:
          command: |
            sudo -E install-php-extensions xdebug
            sudo docker-php-ext-enable xdebug
      - checkout
      - run:
          command: |
            composer install -n
            composer require php-coveralls/php-coveralls
      - run:
          command: |
            mkdir -p ~/build/logs
            vendor/bin/phpunit --coverage-clover ~/build/logs/clover.xml
            vendor/bin/php-coveralls -x ~/build/logs/clover.xml

workflows:
  default:
    jobs:
      - test:
          matrix:
            parameters:
              php: ["8.2", "8.3", "8.4", "8.5"]
      - coding-style
      - coveralls